{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
    
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  type="text/css" href="{% static 'pages/css/style.css' %}">
    {% block title %}

    <title>Squaak</title>

    {% endblock title %}



</head>
<body>


    <header>


    <a href="{% url 'pages:home' %}"><h1 class="logo">Squaak</h1></a>

        <div class="container">

            <nav>
            {% if user.is_authenticated %}
                <ul class="left-nav">
                    <li><a class="left" href="{% url 'pages:home' %}">Home</a></li>
                    <li><a class="left" href="{% url 'messaging:messenger' %}">Carrier pigeon</a></li>
                    <li><a class="left" href="{% url 'friend:friends' %}">Flock</a></li>
                    <li><a class="left" href="{% url 'videochat:lobby' %}">Video Chat</a></li>
                </ul>
            {% else %}
                <ul class="left-nav">
                    <li><a class="left" href="{% url 'pages:home' %}">Home</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Carrier pigeon</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Flock</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Video Chat</a></li>
                </ul>   
            {% endif %}
                
                {% if user.is_authenticated %}
                    
                    <form id="search-bar" class="form-inline" action="{% url 'pages:search' %}" method="get">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="user_name">
                      <button class="btn btn-info" type="submit">Search</button>
                    </form>
                    
                    <h3 id="user-greeting">Hello {{ request.user.username }}</h3>    
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'pages:my_profile' user.pk %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    
                    <ul class="right-nav">
                    <li class="User-buttons" ><a id="login" href="{% url 'users:login' %}">Login</a><li>
                    <li class="User-buttons" ><a id="signup" href="{% url 'users:signup' %}">Signup</a></li>
                    <li class="User-buttons" ><a id="forgot" href="{% url 'users:reset_password' %}">Forgot Password</a></li>
                    </ul>
                {% endif %}

            </nav>
        </div>
    </header>

                    
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>