{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% load notifications_tags %}
    
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  type="text/css" href="{% static 'pages/css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block title %}

    <title>Squaak</title>

    {% endblock title %}


</head>
<body>


    <header>


    <a href="{% url 'pages:home' %}"><h1 class="logo">Squaak</h1></a>

        <div class="container">

            <nav>
            {% if user.is_authenticated %}
                <ul class="left-nav">
                    <li><a class="left" href="{% url 'pages:home' %}">Home</a></li>
                    <li><a class="left" href="{% url 'messaging:messenger' %}">Carrier pigeon</a></li>
                    <li><a class="left" href="{% url 'friend:friends' %}">Flock</a></li>
                    <li><a class="left" href="{% url 'videochat:lobby' %}">Video Chat</a></li>
                </ul>
            {% else %}
                <ul class="left-nav">
                    <li><a class="left" href="{% url 'pages:home' %}">Home</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Carrier pigeon</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Flock</a></li>
                    <li><a class="left" href="{% url 'users:login' %}">Video Chat</a></li>
                </ul>   
            {% endif %}
                
                {% if user.is_authenticated %}
                    
                    <form id="search-bar" class="form-inline" action="{% url 'pages:search' %}" method="get">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="user_name">
                      <button class="btn btn-info" type="submit">Search</button>
                    </form>

                    <div class="dropdown">
                        <a href="#" class="notification dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                          <i class="fa fa-bell" style="font-size:24px"></i>
                          <span class="badge">{% live_notify_badge %}</span>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {% if user.notifications.unread %}
                                <a href="{% url 'notifications:mark_all_as_read' %}?next={{ request.path }}">Mark all as Read.</a>
                                {% endif %}
                                {% for notification in user.notifications.unread|slice:"0:5" %}
                                    <div>
                                    <a href="{% url 'messaging:direct-chat' notification.actor.pk %}">Message from: {{ notification.actor }}</a> 
                                  <button class="dropdown-item" type="button">{{ notification.description }}</button>
                                  <a href="{% url 'notifications:mark_as_read' notification.slug %}?next={{ request.path }}">Mark As Read.</a>		
                                  </div>
                                  <div class="dropdown-divider"></div>
                              {% endfor %}
                            </div>
                          </div>
                        {% live_notify_list list_class="dropdown-menu" %}
                    
                    <h3 id="user-greeting">Hello {{ request.user.username }}</h3>    
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'pages:my_profile' user.pk %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    
                    <ul class="right-nav">
                    <li class="User-buttons" ><a id="login" href="{% url 'users:login' %}">Login</a><li>
                    <li class="User-buttons" ><a id="signup" href="{% url 'users:signup' %}">Signup</a></li>
                    <li class="User-buttons" ><a id="forgot" href="{% url 'users:reset_password' %}">Forgot Password</a></li>
                    </ul>
                {% endif %}

            </nav>
        </div>
    </header>

                    
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

<style>
    .notification {
      color: white;
      text-decoration: none;
      padding: 15px 26px;
      position: relative;
      display: inline-block;
      border-radius: 2px;
    }
     
    .notification .badge {
      position: absolute;
      top: 2px;
      right: 30px;
      padding: 5px 10px;
      border-radius: 50%;
      background-color: red;
      color: white;
    }
    </style>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
</html>