{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}


{% block content %}

    {% if user.is_authenticated %}
        
        <h1>enter feed here</h1>
    
    {% else %}
        
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Squaak!</h1>
            <p class="lead">Squaak is a social meda platform that allows you to connect with you flock and send carrier pigeons to the people in your flock. Squak also has video chat capabilities.</p>
            <hr class="my-4">
            <p>Sign up to start now or login!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'users:signup' %}" role="button">Sign up</a>
            </p>
        
        </div>
    {% endif %}
{% endblock content %}