{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}


{% block content %}

    {% if user.is_authenticated %}

         <div class="jumbotron mx-auto mt-5" style="max-height: fit-content; min-width: 400px; max-width: 500px">
            <h1 class="display-4">Welcome to Squaak!</h1>
            <p class="lead">Squaak is a web application that has video chat, messaging, and a friends system. Users in Squaak have user customization, authentification, and restrictions. Video chat utilizes Agora API along with Agora token builder to to have the video chat rooms automated. The friends interface / flock allowes users to interact with other users, accept, decline, private video chat, private message. Chat rooms utilizes Django Channels and Web Sockets.</p>
            <hr class="my-4">
            <p class="lead">
            </p>
        </div>
    {% else %}
         <div class="jumbotron mx-auto mt-5" style="max-height: fit-content; min-width: 400px; max-width: 500px">
            <h1 class="display-4">Welcome to Squaak!</h1>
            <p class="lead">Squaak is a social meda platform that allows you to connect with you flock and send carrier pigeons to the people in your flock. Squak also has video chat capabilities.</p>
            <hr class="my-4">
            <p>Sign up to start now or login!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'users:signup' %}" role="button">Sign up</a>
            </p>
        
        </div>
    {% endif %}
{% endblock content %}