{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="container">
  <div class="card">
    <img id="profile-pic"class="card-img rounded-circle img-fluid" src="{{ user.profile.image.url }}">
    <div id="profile-text"class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">{{ user.profile.bio }}</p>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
</div>

{% endblock content %}