{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="container" style="max-width: auto; max-height: auto;">
  <div class="card border-info mt-3 mb-3" style="max-width: auto; max-height: auto;">
    <img id="profile-pic"class="card-img rounded-circle img-fluid mx-auto mt-2" style="max-height: 200px; max-width: 200px;" src="{{ user.profile.image.url }}">
    <div id="profile-text"class="card-body">
      <h1>Username:</h1>
      <h5 class="card-title">{{ user.username }}</h5>
      <h1>E-mail:</h1>
      <p class="card-text mb-2">{{ user.email }}</p>
      <h1>Bio:</h1>
      <p class="card-text">{{ user.profile.bio }}</p>
    </div>
  </div>
  </div>

  <div class="card text-white bg-dark mx-auto mt-4" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Edit Profile</h5>
        <hr>
    <form id="profile-form"method="post" enctype="multipart/form-data">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% csrf_token %}
      <fieldset class="form-group">
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group" style="display: block; text-align: center;">
          <button class="btn btn-info" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>

  <div>
    <a href="{% url 'users:delete-owner' %}">
      <button type="button" class="btn btn-danger btn-sm btn-block mb-2 mt-4">
      Delete Account
      </button>
    </a>
  </div>

{% endblock content %}