{% extends "base.html" %}
{% block content %}

<div class="card-columns mt-5">
   {% for result in object_list %}
   
   {% if result in request.user.friends.all and result.username != request.user.username %}
   <div class="card border-success mb-3 text-center">
   {% else %}
   <div class="card border-info mb-3 text-center">
   {% endif %}
   
      <img class="card-img rounded-circle img-fluid" style="max-height: 200px; max-width: 200px;" src="{{ result.profile.image.url }}">
   
     <div class="card-header">{{ result.username }}</div>
     <div class="card-body text-info">
   
      {% if result.username == request.user.username %}
         <h5 class="card-title">Status: Current User</h5>
      {% endif %}
   
      {% if result not in request.user.friends.all and result.username != request.user.username %}
         <h5 class="card-title">Status: Not Friends</h5>
      {% elif result in request.user.friends.all and result.username != request.user.username %}
         <h5 class="card-title">Status: Friend</h5>
      {% endif %}
   
         <h1>Bio:</h1>
         <span class="card-text" style="display: inline-block; overflow: hidden; text-overflow: ellipsis;">{{ result.profile.bio | truncatechars:50 }}</span>
     </div>
   
     {% if result not in request.user.friends.all and result.username != request.user.username %}
     <div class="card-footer bg-transparent border-info">
        <a href="{% url 'friend:profile_view' result.pk %}">
         <button class="btn btn-primary">
            View Profile
         </button>
         </a>
   
         <a href="{% url 'friend:send-friend-request' result.pk %}">
          <button class="btn btn-primary">
             Send Friend Request
          </button>
         </a>
      </div>
      {% else %}
      <div class="card-footer bg-transparent border-info text-center">
         <a href="{% url 'friend:profile_view' result.pk %}">
          <button class="btn btn-success">
             View Profile
          </button>
       </a>
       </div>
       {% endif %}
   </div>
   
   {% endfor %}
   </div>

{% endblock content %}