[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
django-bootstrap4 = "*"
Pillow = "*"
django-autoslug = "*"
channels = "*"
agora-token-builder = "*"
channels-redis = "*"
python-decouple = "*"
django-notifications-hq = "*"
django-heroku = "*"
gunicorn = "*"
daphne = "*"
psycopg2 = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.8"
