{% extends "base.html" %}

{% load static %}

{% block content %}
<main>
<div class="card text-center mx-auto mt-5" style="max-height: 200px; min-width: 400px; max-width: 500px">
    <div class="card-header mb-4" >
        Welcome to the video chat lobby!
    </div>
    <h5 class="card-title">Enter a room name. Characters Only!</h5>
    <form id="form">
        <div class="form-field mb-3">
            <input onkeydown="return /[a-z]/i.test(event.key)" type="text" name="room" placeholder="Enter a room name." style="text-transform:uppercase;"/>    
        </div>
        <div class="form-field">        
            <input type="submit" value="Join stream"/>    
        </div>
    </form>
</div>

</main>

</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()
        
        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)

        window.open('/videochatroom/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}