{% extends "base.html" %}

{% load static %}

{% block content %}
<main>
    <h1>
        hello friend
    </h1>

    <section id="form-container">
        <div>
            <h1>Welcome to the chat lobby!</h1> 
        </div>
    </section>
    
    <form id="form">
        <div class="form-field">
            <input type="submit" value="Join stream"/>    
        </div>
    </form>


</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        window.open('/videochatroom/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}