{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <style>
        #chatLog {
            height: 300px;
            background-color: #FFFFFF;
            resize: none;
        }

        #onlineUsersSelector {
            height: 300px;
        }
    </style>
</head>

<main>
    
    <div class="container mt-3 p-5">
        <h2>public-django-channels-chat</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="mb-2">
                    <label for="chatLog">Room-Name: {{ room.name }}</label>
                    <textarea class="form-control" id="chatLog" readonly></textarea>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
                    <div class="input-group-append">
                        <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <label for="onlineUsers">Online users</label>
                <select multiple class="form-control" id="onlineUsersSelector">
                </select>
            </div>
        </div>
        {{ room.name|json_script:"roomName" }}
    </div>

</main>

<script src="{% static 'js/publicchat.js' %}"></script>

{% endblock content %}