{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <style>
        #roomSelect {
            height: 300px;
        }
    </style>
</head>

<main>
   
    <div class="container mt-3 p-5">
        <h2>public-django-channels-chat</h2>
        <hr>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="mb-2">
                    <label class="mb-2" for="roomInput">Enter a room name to connect to it:</label>
                    <input onkeydown="return /[a-z]/i.test(event.key)" type="text" class="form-control" id="roomInput" placeholder="Room-name (Alpha characters only)">
                    <small id="roomInputHelp" class="form-text text-muted">If the room doesn't exist yet, it will be created for you.</small>
                </div>
                <button type="button" id="roomConnect" class="btn btn-success">Connect</button>
            </div>
            <div class="col-12 col-md-4">
                <label for="roomSelect">Active rooms</label>
                <select multiple class="form-control" id="roomSelect">
                    {% for room in rooms %}
                        <option>{{ room }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    
</main>

<script src="{% static 'js/messenger.js' %}"></script>

{% endblock content %}