{% extends "base.html" %}

{% block content %}

<main>
    <h1>
        hello friend
    </h1>

    <section id="form-container">
        <div>
            <h1>Welcome to the instant chat!</h1> 
        </div>
    </section>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>
    

</main>

<script type="text/javascript">

    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if (data.type === 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<div>
                                        <p>${data.message}</p>
                                    </div>`)
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })

</script>

{% endblock content %}