{% extends "base.html" %}

{% block content %}

<div>
    <h1>Friends</h1>
    {% for friend in friends %}
    <h1>{{friend.username}}
        <a href="{% url 'friend:profile_view' friend.pk %}">View Profile</a>
        <a href="{% url 'friend:delete-friend' friend.pk %}">Remove Friend</a>
    </h1>
    {% endfor %}
</div>

<div>
    <h1>Friend Requests</h1>
    {% for request in rec_friend_requests %}

    <h1>From: {{request.sender}}
        <a href="{% url 'friend:accept-friend-request' request.pk %}">Accept Friend Request</a>
        <a href="{% url 'friend:decline-friend-request' request.pk %}">Decline Friend Request</a>
    </h1>
    {% endfor %}
</div>

<div>
    <h1>Requests Sent</h1>
    {% for sent in sent_friend_requests %}
    <h1>Sent To: {{sent.receiver}}
        <a href="{% url 'friend:cancel-friend-request' sent.receiver.pk %}">Cancel Friend Request.</a></h1>
    {% endfor %}
</div>

<div>
    <h1>Initiated Chats:</h1>
    {% for ini in initiated_direct_chats %}
    <h1>created by: {{ request.user }}</h1>
    <h1>chatting with: {{ ini.user2 }}</h1>
        <a href="{% url 'messaging:create-direct-chat' ini.user2.pk %}">Message {{ ini.user2 }}</a>
    {% endfor %}
</div>

<div>
    <h1>Received Chats:</h1>
    {% for rec in received_direct_chats %}
    <h1>created by: {{ rec.user1 }}</h1>
    <h1>chatting with: {{ request.user }}</h1>
        <a href="{% url 'messaging:join-direct-chat' rec.user1.pk %}">Message {{ rec.user1 }}</a>
    {% endfor %}
</div>

<div>
    <h1>Friends</h1>
    {% for friend in friends %}
    <h1>{{friend.username}}
        <a href="{% url 'friend:profile_view' friend.pk %}">View Profile</a>
        <a href="{% url 'friend:delete-friend' friend.pk %}">Remove Friend</a>
    </h1>

    <a href="{% url 'messaging:create-direct-chat' friend.pk %}"> Message as initiator!</a>
    <a href="{% url 'messaging:join-direct-chat' friend.pk %}">Receiver may join chat!</a>
    {% endfor %}
</div>

{% endblock content %}

<!---------------------------------------
if friend in initiated_direct_chats.user2
    then: display create-direct-chat link

elif friend in received_direct_chats.user1
    then: display join-direct-chat link
-------------------------------------------->