{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="container">
  <div class="card">
    <img id="profile-pic"class="card-img rounded-circle img-fluid" src="{{ user.profile.image.url }}">
    <div id="profile-text"class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">{{ user.profile.bio }}</p>
    </div>
  </div>
</div>

{% if user not in current_user.friends.all and user != current_user %}
<div>
  <a href="{% url 'friend:send-friend-request' user.pk %}">Send Friend Request</a>
</div>
 {% endif %}

 {% if sent_friend_request %}
<div>
  <a href="{% url 'friend:cancel-friend-request' user.pk %}">Cancel Friend Request</a>
</div>
{% endif %}

{% if user in current_user.friends.all and user != current_user %}
<div>
  <a href="{% url 'messaging:direct-chat' user.pk %}">Message other user!</a>
</div>
<div>
  <a id="videochat" href="{% url 'videochat:private-video-chat' user.pk %}">VideoChat other user!</a>
</div>
{% endif %}

{{ user.pk|json_script:"videochat.pk" }}

<script type="text/javascript">

  let videochat_pk = JSON.parse(document.getElementById('videochat.pk').textContent);

  let handleSubmit = async (e) => {
      e.preventDefault()
      let room = videochat_pk

      let response = await fetch(`/get_token/?channel=${room}`)
      let data = await response.json()
      
      let UID = data.uid
      let token = data.token

      sessionStorage.setItem('UID', UID)
      sessionStorage.setItem('token', token)
      sessionStorage.setItem('room', room)

      window.open('/privatevideochat/'+videochat_pk+'/', '_self')
  }

  document.getElementById("videochat").addEventListener('click', handleSubmit)
</script>


{% endblock content %}