{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<div class="card text-white bg-dark mx-auto mt-4" style="width: 28rem;">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Sign In</h5>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="display: block; text-align: center;">
            <button class="btn btn-success" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}