{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="card text-white bg-dark mx-auto mt-4" style="width: 28rem;">
  <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Forgot Password?</h5>
      <hr>
      <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div style="display: block; text-align: center;">
        <button class="btn btn-primary" type="submit">Send Reset E-Mail</button>
        </div>
      </form>
  </div>
</div>
{% endblock %}