    {% load i18n %}{% autoescape off %}
2 	{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
3 	
4 	{% translate "Please go to the following page and choose a new password:" %}
5 	{% block reset_link %}
6 	{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
7 	{% endblock %}
8 	{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
9 	
10 	{% translate "Thanks for using our site!" %}
11 	
12 	{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
13 	
14 	{% endautoescape %}