/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* End of stylesheet reset. */

/* Start of my code. */

header div {
    width: 100%;
    margin: 0 auto;
    
}

header {
    background-color: #B048FF;
    line-height: 25px;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    color: white;
    float: left;
    margin-top: 18px;
    margin-left: 70px;
    font-size: 35px;
    border-right: 2px solid #111;
    padding-right: 20px;
}

nav .left-nav{
    float: left;
    margin: 0;
    margin: 0;
    padding: 0;
    
}

nav .right-nav{
    float: right;
    width: 25%;
    margin: 0;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 19px;
    padding-bottom: 20px;
    line-height: 40px;
    position: relative;
}

nav .left {
    color:white;
    text-decoration: none;
    font-size: 15;
}

nav .left:hover {
    color: black;
}

nav .left::before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav .left:hover::before {
    width: 100%;
}

nav ul li #login{
    color:white;
    padding: 15px;
    border: 1px solid #364a4c;
    width: 100px;
    line-height: 0px;
    text-align: center;
}

nav ul li #signup{
    color:white;
    padding: 15px;
    border: 1px solid #364a4c;
    width: 100px;
    line-height: 0px;
    text-align: center;
}
#user-greeting{
    width: 8%;
    float: right;
    transform: translateY(-25px);
    margin-top: 0px;
    margin-bottom: 5px;
    height: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}
.dropdown{
    transform: translateX(85px);
    width: 10%;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

#dropdownMenuButton{
    background-color: #A13AE0;
}

.dropdown-menu .dropdown-item{
    transition-property: none;
}
/* search bar CSS */
#search-bar{
    width: 28%;
    transform: translateX(300px) translateY(20px);
}
/* Profile Form */
#profile-form{
    transform: translateX();
    margin-left: 25px;
}
/* Profile CSS */

div .container{
    padding-top: 20px;
    padding-left: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

div .card{
    height: 90vh;
    width: 40%;
    display: flex;
}

.container .card #profile-pic{
    padding: 15px;
    height: 50%;
    width: 100%;
    justify-items: center;
}

.container .card #profile-text{
    width: 100%;
}

.container .card-title{
    border: 2px solid #B048FF;
    padding-left: 10px;
    line-height: 50px;
    font-size: 24px;
}

.container .card-text{
    border: 2px solid #B048FF;
    padding-left: 10px;
    line-height: 50px;
    font-size: 24px;
}

/* ------ room styling ------ */

:root{
    --shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06):
}

#room-name-wrapper{
    text-align: center;
    font-size: 18px;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 95, 172, 1);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(194, 202, 219, 1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
}

.video-player > *{
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3 );
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width:1650px){
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* ----- rooom styling controls ------ */



#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    height: 50px;
    width: 50px;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

#mic-btn{
    background-color: #B048FF;
}